.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}


.dialogs__items {
    padding: 10px;
}

.dialog {

}

.dialog.active {
    color: red;
}


.messages {
    padding: 10px;
}

.message {

}

